<div class="extension-text">
  <h2>Download the extension</h2>
  <p>
    We've got more browsers in the pipeline. Please do let us know if you've got
    a favourite you'd like us to prioritize.
  </p>
</div>

<div class="extension-wrapper">
  <div class="extension-list">
    <div class="extension-card">
      <div class="card-header">
        <img src="../assets/images/logo-chrome.svg" alt="" />
        <h2>Add to Chrome</h2>
      </div>

      <div class="extension-img">
        <img src="../assets/images/bg-dots.svg" alt="" />
      </div>

      <div class="extension-action">
        <button class="btn-main btn-primary">add & install extension</button>
      </div>
    </div>
    <div class="extension-card card-second">
      <div class="card-header">
        <img src="../assets/images/logo-firefox.svg" alt="" />
        <h2>Add to Firefox</h2>
      </div>

      <div class="extension-img">
        <img src="../assets/images/bg-dots.svg" alt="" />
      </div>

      <div class="extension-action">
        <button class="btn-main btn-primary">add & install extension</button>
      </div>
    </div>
    <div class="extension-card card-third">
      <div class="card-header">
        <img src="../assets/images/logo-opera.svg" alt="" />
        <h2>Add to Opera</h2>
      </div>

      <div class="extension-img">
        <img src="../assets/images/bg-dots.svg" alt="" />
      </div>

      <div class="extension-action">
        <button class="btn-main btn-primary">add & install extension</button>
      </div>
    </div>
  </div>
</div>
