<div class="grid">
  <div class="hero-left">
    <div class="hero-text">
      <h2>A Simple Bookmark Manager</h2>
      <p>
        A clean and simple interface to organize your favourite websites. Open a
        new browser tab and see your sites load instantly. Try it for free.
      </p>
      <div class="hero-action">
        <button class="btn-main btn-primary">Get it on Chrome</button>
        <button class="btn-main btn-light">Get it on Firefox</button>
      </div>
    </div>
  </div>
  <div class="hero-img grid-reverse">
    <div class="img-wrapper img-wrapper-left">
      <img
        class="img-bg-right"
        src="../assets/images/illustration-hero.svg"
        alt=""
      />
    </div>
  </div>
</div>
