main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  main {
    padding: 0 25px;
  }
}

/* ========= Hero ========= */
.section-hero {
  margin-top: 6rem;
}
.section-hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-text h2 {
  font-size: 3rem;
  font-weight: 500;
}
.hero-text p {
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--link-color);
}
.hero-text .hero-action {
  display: flex;
  gap: 1rem;
}
.hero-action .btn-primary {
  text-transform: inherit;
}

@media (max-width: 870px) {
  .section-hero .hero-text {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .hero-text h2,
  .hero-text p {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .hero-text h2 {
    font-size: 2rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
}
@media (max-width: 530px) {
  .hero-text .hero-action {
    flex-direction: column;
  }
}

/* ========= Features ========= */
.section-feature {
  margin: 25px 0;
  padding: 40px 0;
}
/* ========= Feature Text ========= */
.section-feature .feature-text {
  max-width: 500px;
  margin: 0 auto 3rem auto;
  padding: 0 20px;
  text-align: center;
}
.feature-text h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #252d48;
  margin-bottom: 1rem;
}
.feature-text p {
  color: var(--link-color);
  font-size: 1.1rem;
  line-height: 1.5;
}
@media (max-width: 560px) {
  .section-feature .feature-text {
    padding: 0px 0px;
  }
}

/* ========= Feature List ========= */
.section-feature .feature-list {
  /* padding: 20px 0; */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 870px) {
  .section-feature .feature-list {
    flex-direction: column;
  }
}
.feature-list .feature-item {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 870px) {
  .feature-list .feature-item {
    width: fit-content;
  }
}

.feature-item button {
  padding: 20px 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  color: #7f8084;
  border-bottom: 3px solid transparent;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.3s all ease;
  min-width: 16rem;
}
@media (max-width: 870px) {
  .feature-item button {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .feature-item button {
    font-size: 1rem;
  }
}

.feature-item button:hover {
  color: var(--danger);
}
.feature-item button.active {
  color: #444653;
  border-bottom-color: var(--danger);
}
/* ========= Feature Hero ========= */
.section-feature .feature-hero {
  margin: 30px 0;
}

/* ========= Extension ========= */
.section-extension {
  max-width: 1200px;
  margin: 2rem auto;
}
/* ========= extension text ========= */
.section-extension .extension-text {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
}
.extension-text h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.extension-text p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #7f8084;
}
@media (max-width: 660px) {
  .extension-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .extension-text p {
    font-size: 1rem;
  }
}

/* ========= extension list ========= */
.section-extension .extension-wrapper {
  margin: 4rem 0;
}
@media (max-width: 1100px) {
  .section-extension .extension-wrapper {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-extension .extension-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 1100px) {
  .section-extension .extension-list {
    grid-template-columns: 1fr;
  }
}
.extension-list .extension-card {
  border-radius: 8px;
  box-shadow: #5877f433 0px 7px 29px 0px;
}
@media (min-width: 1100px) {
  .extension-list .card-second {
    margin-top: 3rem;
  }
  .extension-list .card-third {
    margin-top: 5rem;
  }
}

.extension-card .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.card-header img {
  object-fit: cover;
}
.card-header h2 {
  text-align: center;
  margin-top: 2rem;
}
.section-extension .extension-img {
  margin: 12px 0;
}
.extension-img img {
  width: 100%;
  height: 100%;
}
.extension-card .extension-action {
  padding: 2rem;
}
.extension-action button {
  width: 100%;
  text-transform: capitalize;
}
@media (max-width: 560px) {
  .extension-action button {
    word-wrap: break-word;
  }
}

/* ========= Footer ========= */
footer {
  background-color: #5368df;
}
