main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  main {
    padding: 0 25px;
  }
}

/* ========= Hero ========= */
.section-hero {
  margin-top: 6rem;
}

/* ========= Features ========= */
.section-feature {
  margin: 25px 0;
  padding: 40px 0;
}

/* ========= Faq ========= */
.section-faq {
  padding-top: 50px;
  padding-bottom: 60px;
}

/* ========= Footer ========= */
footer {
  background-color: #5368df;
}
