<aside [ngClass]="{ toggle: modal }">
  <div class="side-body">
    <div class="side-wrapper">
      <div class="side-wrapper-top">
        <div class="side-header">
          <div class="header-img">
            <img src="../../../assets/images/logo-light-bookmark.svg" alt="" />
          </div>
          <div (click)="close()" class="header-close">
            <img src="../../../assets/images/icon-close.svg" alt="" />
          </div>
        </div>

        <div class="side-list">
          <div class="side-item side-top">
            <a href="#">feature</a>
          </div>
          <div class="side-item side-top">
            <a href="#">pricing</a>
          </div>
          <div class="side-item side-top side-down">
            <a href="#">contact</a>
          </div>
          <div class="side-action">
            <button class="btn-main btn-light">login</button>
          </div>
        </div>
      </div>
      <div class="side-wrapper-down">
        <div class="wrapper-icon">
          <div class="icon">
            <img src="../../../assets/images/icon-facebook.svg" alt="" />
          </div>
          <div class="icon">
            <img src="../../../assets/images/icon-twitter.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
